@import "rsuite/dist/rsuite.css";

html,body{
    height: 100%;
}

#root{
    margin: 0;
    padding: 0;
    padding-right: 0;
    margin-right: 0;
}
.container{
    display:grid;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    grid-template-areas: 
      "nav nav nav "
      "sidebar tela tela"
      "sidebar tela  tela"
    ;
    grid-auto-rows: auto auto;
    grid-template-rows: 80px 100px;
    grid-auto-flow: auto auto;
    grid-template-columns: 260px 1fr  2fr;
}

.navbar{
    grid-area: nav;
}

.sidebar{
    grid-area: sidebar;
    
}

.home{
    grid-area: tela;
}

.css-0 {
    width: 100%;
    height: 80px;
    margin:0;
    padding: 0;
}

.MuiBox-root{
    height: 80px;
}